html {font-family: 'Poppins', sans-serif;

}
a 
{
  color: black
}
body {
    background-color: #3845;
    color: rgba(0, 0, 0, 0.445)
  }
h3{
  font-style: italic;
}
h4{
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
  
  h1, h2, h3 {
    color: black;
    text-align: center;
    
  }
  h4, .list {
    color: black;
    font-kerning: .200;
      
  }

