html {font-family: 'Poppins', sans-serif;
}
body {
    background-color: #3845;
  }
  
  h1, h2, h3 {
    color: black;
    text-align: center;
  }
  h4, .list {
      color: rgba(0, 0, 0, 0.445)
  }
  
  
